
body
{
    text-align: center;
}

.numeric-settings-div
{
    position: relative;

    display: inline-block;
    text-align: center;
    margin-top: 10px;

    left: -25px;
}

.input-root-div
{
    position: relative;

    width: 150px;
}

.input-div
{
    position: relative;

    display: block;
    width: 150px;
    float: left;
    margin: 10px;

    padding-bottom: 3px;
    border-radius: 4px 4px 3px 3px;
    background-color: #333;
}

.input-cell
{
    position: relative;

    width: 100%;
    padding: 10px;

    font-family: monaco;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;

    color: #e0e0e0;
    background-color: #222;
    border: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cell-desc
{
    position: relative;
    font-family: monaco;
    letter-spacing: 1px;
}

input:focus
{
    outline: none;
    border: 0px;
}

.slider-div
{
    width: 50%;
}

.toggle-settings-div
{
    position: relative;
    display: inline-block;

    margin-top: 30px;
    text-align: center;

    left: -25px;
}

.toggle-div
{
    position: relative;

    display: block;
    margin: 20px;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.process-settings-div
{
    position: relative;
    display: inline-block;

    margin-top: 30px;
}

.header
{
    font-family: monaco;
    font-size: 12px;

    color: #e0e0e0;
    padding: 7px 10px;
    letter-spacing: 1px;
    border-radius: 0px;
    background-color: #444;
}

.ext-btn
{
    position: relative;

    color: #333;
    background: silver;
    border-radius: 3px;
    margin-left: 5px;
    padding: 6px 8px;
    border: 0px;
}

.ext-btn:hover
{
    color: #fff;
    background: steelblue;
}

table
{
    position: relative;

    margin-top: 10px;
}

.delete
{
    color: #2196F3;
    padding: 2px 0px 0px 0px;
    background-color: transparent; 
    border: 0px;
    outline: 0px;
}

td
{
    display: inline-block;

    padding-top: 5px;
    padding-bottom: 4px;
    margin-left: 10px;

    font-size: 13px;
    font-family: monaco;

    color: #ccc;
    border-bottom: 0px #555 solid;
    letter-spacing: 1px;
}

.brightness-slider
{
    width: 94%; 
    margin-top: 30px;
}

.slider-settings-div
{
    position: relative;
    display: inline-block;

    width: 90%;
    margin-top: 7px;
}

.header-style-2
{
    position: relative;

    font-family: monaco;
    font-weight: bold;
    font-size: 13px;

    float: left;
    letter-spacing: 1px;
    color: #e5e5e5;
}

.control-btn
{
    position: relative;

    text-align: center;
    margin-top: 25px;
}

.btn-save
{
    position: relative;
    display: inline-block;

    margin: 5px;
    padding: 5px 15px !important;

    border-radius: 3px;
    background-color: #2196F3 !important;
    color: #fff;

    font-family: monaco;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-save:hover
{
    color: #fff;
}

.control-labels
{
    display: inline-block;

    padding: 2px 3px;
    font-family: monaco;
}

.control-label
{
    display: inline-block;

    border-radius: 3px;
    background-color: #222;
    padding: 3px 5px;
}

.min-icon
{
    font-size: 20px;
    color:#ccc;

    float: left;
    transform: rotate(90deg);
}

.max-icon
{
    font-size: 20px;
    color:#ccc;

    float: left;
    transform: rotate(-90deg);
}

.control-text
{
    float: right;
    color:#ccc;
    font-size: 12px;
}